.page {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

    max-width: 1264px;
    /*margin: 30px 30px 30px 147px;*/
    margin: 30px auto 30px auto;
}

.invisible {
    display: none;
}