.selectors {
    display: flex;
    margin-left: 10px;
}

.select-all {
    box-sizing: border-box;
    height: 40px;

    background: #F8F8F7;
    border-radius: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    padding: 8px 0 8px 10px;

    outline: none;
    border: 2px solid #FFFFFF;


    color: #8C8C8C;
}

.select-all:focus {
    border: 2px solid #FFFFFF;;
}

.select-all:hover {
    border: 2px solid #FBE0DC;
}
.select-breeds {
    width: 226px;
}

.select-limit {
    width: 101px;
    margin-left: 10px;
}

.sort-btn {
    width: 40px;
    height: 40px;
    box-sizing: border-box;

    border: none;
    background-color: #F8F8F7;
    border-radius: 10px;

    background-position: center;
    background-repeat: no-repeat;

    margin-left: 10px;
}

.descending {
    background-image: url(../images/sort-20.svg);
}

.ascending {
    background-image: url(../images/soft-revert-20.svg);
}

.descending.active {
    background-image: url(../images/sort-color-20.svg);
    border: 2px solid #FBE0DC;
}

.ascending.active {
    background-image: url(../images/sort-revert-color-20.svg);
    border: 2px solid #FBE0DC;
}

.sort-btn:hover {
    border: 2px solid #FBE0DC;
}

.btn-container {
    margin-top: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-btn {
    box-sizing: border-box;
    width: 122px;
    height: 40px;
    margin-right: 40px;
    padding: 12px 30px 12px 56px;

    background-color: #F8F8F7;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    background-image: url(../images/back.svg);

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    letter-spacing: 2px;
    color: #8C8C8C;
}

.prev {
    background-position: 22px;
}

.next {
    background-position: 22px;
    transform: scaleX(-1);
}

.next * {
    transform: scaleX(-1);
}

.page-btn:hover {
    background-color: #FBE0DC;
    color: #FF868E;
}

.page-btn:active {
    background-image: url(../images/back-white-20.svg);
    background-color: var(--active-background);
    color: var(--button-background);
}