.breedId {
    width: 90px;
    height: 40px;

    margin-left: 10px;
    background: var(--active-background);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.breedId p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.cat-selectors {
    position: absolute;
    bottom: -15px;
    right: 275px;

    height: 30px;
    width: fit-content;

    background: #FFFFFF;
    border-radius: 20px;
    padding: 10px 7.5px 10px 7.5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
}

.small-selector {
    width: 10px;
    height: 10px;

    background: #FBE0DC;
    border-radius: 10px;

    border: none;

    margin: 0 2.5px 0 2.5px;

    padding: 0;
}

.small-selector:hover {
    background: #FF868E;
}

.small-selector.active {
    background: #FF868E;
}

.breed-name {
    position: absolute;
    top: -31px;

    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #1D1D1D;

    height: 52px;
    width: fit-content;
    padding: 5px 40px 5px 40px;

    background: #FFFFFF;
    border-radius: 20px;

}

.bred-for {
    position: relative;
    top: 26px;

    font-weight: 500;
    font-size: 20px;
    line-height: 29px;


    color: #8C8C8C;

    display: flex;
    justify-content: center;
}

.cat-info-container {
    position: relative;
    width: 640px;
    height: fit-content;

    box-sizing: border-box;

    border: 2px solid #FBE0DC;
    border-radius: 20px;
    padding: 0 40px 40px 40px;
}

.breed-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-info-container .flex-container {
    position: relative;
    top: 26px;
}

.temperament-container {

    width: 270px;
    height: fit-content;

    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #1D1D1D;
}

.description {
    font-weight: 400;
    color: #8C8C8C;
}

.additional-description-container {
    margin-left: 25px;

    width: 270px;
}